PyJWT==1.7.1
requests==2.31.0
passlib==1.7.2
google-auth
cryptography
openai
python-dotenv==1.0.0

psycopg2-binary==2.9.9
python-multipart==0.0.5
alembic==1.8.0
fastapi-sqlalchemy==0.2.1
SQLAlchemy==2.0.38
resend==2.23.0
stripe==2.53.0
fastapi>=0.103.2
pydantic>=1.8.0,<2.0.0
uvicorn[standard]
sentry-sdk
celery[redis]
anthropic
git+https://github.com/Packstack-Tech/models.git@v2.1.2#egg=models